#container {
	position: relative;
	border: 1px solid;
	width: 600px;
	height: 500px;
}

.tile {
	width: 100px;
	height: 100px;
	display: inline-block;
	border: 1px solid;
	box-sizing: border-box;
}

#h1, #h2, #h3 {
	display: inline-block;

}
